.col{
    border: 1px solid whitesmoke;
    border-radius: 20px;
}

.col img{
    padding: 15px;
    border: none;
    height: 500px;
}
span{
    color:rgb(71, 181, 255);
}
#button-search{
    background-color:rgb(71, 181, 255) ;
    color: rgb(250, 249, 249);
}
#span{
    color: rgb(133, 145, 156);
    font-style: italic;
}
.title{
    color: rgb(117, 122, 124);
    font-style:initial;
}

#container{
    margin-left: 50px;
}